NEXT_PUBLIC_SUPABASE_URL=https://ieojfbgrpattcczalqyk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllb2pmYmdycGF0dGNjemFscXlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE1OTYwODEsImV4cCI6MjAyNzE3MjA4MX0.baX7e6S_GqGf320plIaBbagKF9dOg4IzotdEA8slg10